<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealership</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'djangoapp:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Add reviews as cards -->
    <div class="container">
        <div class="row">
            {% for review in reviews %}
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        {% if review.sentiment == 'positive' %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/positive.png" alt="Positive Sentiment" style="max-width: 50px;">
                        {% elif review.sentiment == 'neutral' %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/neutral.png" alt="Neutral Sentiment" style="max-width: 50px;">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/emoji/negative.png" alt="Negative Sentiment" style="max-width: 50px;">
                        {% endif %}
                        <div class="card-body bg-light">
                            <h5 class="card-title font-weight-bold">{{ review.car_make }} {{ review.car_model }} - {{ review.car_year }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted font-weight-bold">{{ review.reviewer_name }}</h6>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </body>

</html>